/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}


body {
	font: 18px/1.5 'Ranchers', cursive;
}

h1 {
	font-size: 60px;
	text-align: center;
}

.domecek {

	position: relative;

	margin: 50px auto;
	width: 700px;
	height: 400px;
	border: 5px solid black;
	border-radius: 20px;
	background: url(images/stred.png) no-repeat center/cover;
	/*
		tady asi budeš muset něco přidat, abys
		pak mohla pozicovat kočky jen v rámci domečku
		(a ne celé stránky)
	*/


}

.dopis {
	width: 84px;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.motyl {
	width: 170px;
	height: 118px;
	position: absolute;
	left: 280px;
	top: 120px;

	
	
	
}

.kniha {
	width: 120px;
	height: 140px;
	position: absolute;
	left:-60px;
	top: -60px;
	
}

.sluchatka {
	width: 124px;
	height: 150px;
	position: absolute;
	right:30px;
	top: 30px;
}



	
.spanek {
	width: 154px;
	height: 75px;
	position: absolute;
	right:0;
	bottom: 0;

}